<div>
    <div class="post-head">
        <h3>{{ post.title }}</h3>
        <p class="rating">Rating:<b>{{ post.rating }}</b>
            <small class="blog-post-meta">{{ stringAsDate(post.timestamp) | date:'medium'}}</small>
        </p>
        <div class="postcontroll">
            <!--<button class="btn btn-default btn-sm" [class.btn-primary]="postShow==='content'"-->
            <!--(click)="postShow='content' ">Content-->
            <!--</button>-->
            <!--<button class="btn btn-default btn-sm" [class.btn-primary]="postShow==='userGroup'"-->
            <!--(click)="postShow='userGroup' ">Viewed: {{ friendsViewed() }}-->
            <!--</button>-->
            <!--<button class="btn btn-default btn-sm" [class.btn-primary]="postShow==='comments'"-->
            <!--(click)="postShow='comments' ">Comments: {{post.commentsCount}}-->
            <!--</button>-->

            <ul class="nav nav-tabs">
                <li role="presentation" [class.active]="postShow==='content'"><a (click)="postShow='content' ">Content</a>
                </li>
                <li role="presentation" [class.active]="postShow==='userGroup'"><a (click)="postShow='userGroup' ">Viewed: {{ friendsViewed() }}</a>
                </li>
                <li role="presentation" [class.active]="postShow==='comments'"><a (click)="postShow='comments' ">Comments: {{post.commentsCount}}</a>
                </li>
                <li role="presentation">
                    <a href="{{post.post_link}}" target="_blank" class="btn btn-default btn-sm">Go to pikabu</a>
                </li>
                <li role="presentation">
                    <a *ngIf="!linkCopyed" (click)="copyTextToClipboard(post.post_link)" class="btn btn-default btn-sm">Copy PiLink</a>
                    <a *ngIf="linkCopyed" class="btn btn-success btn-sm active"> Was copyed</a>
                </li>
            </ul>

        </div>
        <p *ngIf="post.description">{{ post.description }}</p>

    </div>
    <!-- post's content -->
    <div [ngSwitch]="postShow">
        <div *ngSwitchWhen="'content'">

            <div *ngIf="!post.viewed">
                <div [style.maxHeight]="doTrunk ? 1000 : 999999" class="contentWrapper" #contentWrapper>
                    <div *ngFor="#content of post.contents; #icontent = index">

                        <my-post-content [content]="content" (contentToPlay)="contentPlay(icontent)"
                                         (contentImgLoaded)="contentImgLoaded()"></my-post-content>

                    </div>
                </div>
                <div class="show-full" *ngIf="height > 1100 && doTrunk " (click)="doTrunk = false">
                    <p>show full<br>
                        <i class="fa fa-sort-desc fa-2x" aria-hidden="true"></i></p>
                </div>
            </div>

            <div class="show-full" *ngIf="post.viewed"
                 (click)="postShowIt()">
                <p>show<br>
                    <i class="fa fa-sort-desc fa-2x" aria-hidden="true"></i></p>
            </div>

        </div>

        <div *ngSwitchWhen="'userGroup'" class="contentWrapper">
            <template [ngIf]="autenticated()">
                <div *ngIf="post.friendsViewed">

                    <ol class="usergroup-list">
                        <li *ngFor="#user of post.friendsViewed">
                            {{ user }}
                        </li>
                    </ol>
                </div>

                <div *ngIf="!friendsViewed()">
                    <p class="bg-info text-center pinfo">None of your friends saw it!</p>
                </div>
            </template>
            <template [ngIf]="!autenticated()">
                <p class="bg-info text-center pinfo">Register or login to view!</p>
            </template>
        </div>

        <div *ngSwitchWhen="'comments'" class="contentWrapper"
             style="overflow: scroll; max-height: 600px;">
            <my-comments [url]="post.post_link"></my-comments>
        </div>

    </div>
</div>