.show-full {
    box-sizing: border-box;
    background-color: #f0f1eb;
    height: 53px;
    cursor: pointer;
    max-width: 583px;
}

.show-full p {
    padding-left: 40%;
    padding-top: 15px;
    box-sizing: border-box;
    margin-bottom: 0;
}

.show-full i {
    padding-left: 7%;
}

.show-full:hover {
    background-color: #e4e5df;
}

.post-head{
    padding-left: 15px;
    padding-right:15px;
}



/* WARNING pWrapper broke PLAY button*/
.p-wrapper {
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    /*padding: 8px 16px;*/
}



.rating {
}

.contentWrapper {
    overflow: hidden;
    text-align: left;
    padding: 8px 16px;
    border: 1px solid #d0dde5;
    background-color: #fbfbfb;
    max-width: 583px;
}

.blog-post-meta {
    padding-left: 10px;
}

.usergroup-list{
    display: table;
    cursor: default;
    max-width: 583px;
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 2em;
    margin-left: 50px;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.usergroup-list li{
    position: relative;
    display: block;
    padding: .4em 2em .4em 2em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
}

.usergroup-list li:hover{
    background: #eee;
}

.usergroup-list li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.pinfo {
    margin: 15px 0;
    padding: 15px 0;
}

.postcontroll {
    max-width: 565px;
}

.postcontroll ul li {
    cursor: pointer;
}