<div>
    <div class="post-head">
        <h3>{{ post.title }}</h3>
        <button class="btn btn-default btn-sm" (click)="postShow='content'">Content</button>
        <button class="btn btn-default btn-sm" (click)="postShow='userGroup'">Viewed: {{ friendsViewed() }}</button>

        <p class="rating">Rating:<b>{{ post.rating }}</b>
            <small class="blog-post-meta">{{ stringAsDate(post.timestamp) | date:'medium'}}</small>
        </p>
        <p *ngIf="post.description">{{ post.description }}</p>

    </div>
    <!-- post's content -->
    <div [ngSwitch]="postShow">
        <div *ngSwitchWhen="'content'">

            <div *ngIf="!post.viewed">
                <div [style.maxHeight]="doTrunk ? 1000 : 999999" class="contentWrapper">
                    <div *ngFor="#content of post.contents; #icontent = index">

                        <my-post-content [content]="content" (contentToPlay)="contentPlay(icontent)" (contentImgLoaded)="contentImgLoaded()"></my-post-content>

                    </div>
                </div>
                <div class="show-full" *ngIf="height > 1000 && doTrunk "
                     (click)="doTrunk = false">
                    <p>show full <br>
                        <i class="fa fa-sort-desc fa-2x" aria-hidden="true"></i></p>
                </div>
            </div>

            <div class="show-full" *ngIf="post.viewed"
                 (click)="postShowIt()">
                <p>show<br>
                    <i class="fa fa-sort-desc fa-2x" aria-hidden="true"></i></p>
            </div>

        </div>

        <div *ngSwitchWhen="'userGroup'">
            <div *ngIf="post.friendsViewed">

                <ol class="usergroup-list">
                    <li *ngFor="#user of post.friendsViewed" >
                        {{ user }}
                    </li>
                </ol>
            </div>

            <div *ngIf="!friendsViewed()">
                <p class="bg-info text-center pinfo">None of your friends saw it!</p>
            </div>
        </div>

    </div>
</div>