.show-full {
    background-color: #f0f1eb;
    height: 53px;
    cursor: pointer;
}

.show-full p {
    padding-left: 40%;
    padding-top: 15px;
}

.show-full i {
    padding-left: 7%;
}

.show-full :hover {
    background-color: #e4e5df;
}

.content-play {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    overflow: hidden;
    opacity: 0.65;
    width: auto;
}

.content-play :hover {
    color: green;
}
/* and hover for it (*/

.contentWrapper {
    overflow: hidden;
    position: relative;
}

/* WARNING pWrapper broke PLAY button*/
.pWrapper {
    border: 1px solid #d0dde5;
    background-color: #fbfbfb;
    font-family: Tahoma,Helvetica,Arial,sans-serif;
    padding: 8px 16px;
}

.blog-post {
    border: 1px solid #d0dde5;
    background-color: #fbfbfb;
    margin-bottom: 15px;

}

.blog-post div div {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}