<div class="loginform shadow5">
    <div class="closebut">
        <button (click)="closeme()"  class="btn btn-danger btn-sm">X</button>
    </div>
    <div *ngIf="showFormContent===0" class="login">

        <form class="form-signin" (submit)="login()">

            <div class="form-message">
                <h3 class="form-signin-heading text-center easein" [style.color]="loginErr ? 'red' : 'black'">
                    <template [ngIf]="!loginErr">Please, sign in</template>
                    <template [ngIf]="loginErr"><i class="fa fa-exclamation-triangle"></i> Unrecognized username
                        or password.
                    </template>
                </h3>
            </div>
            <label for="inputLogName" class="sr-only">Login</label>
            <input [(ngModel)]="logName" type="text" id="inputLogName" class="form-control" placeholder="Login"
                   required autofocus>
            <br>

            <label for="inputLogPass" class="sr-only">Password</label>
            <input [(ngModel)]="logPass" type="password" id="inputLogPass" class="form-control"
                   placeholder="Password" required>
            <br>
            <button [class.disabled]="!canLogin()" class="btn btn-lg btn-primary btn-block" type="submit">Sign in
            </button>
        </form>
    </div>

    <div *ngIf="showFormContent===1" class="register">

        <div [hidden]="!registerErr" class="alert alert-danger">
            <i class="fa fa-exclamation-triangle"></i> {{ registerErr }}
        </div>

        <form class="form-register" (submit)="register()">
            <div class="form-message">
                <h3 class="form-signin-heading text-center easein" [style.color]="regErr ? 'red' : 'black'">
                    <template [ngIf]="!regErr">Please, register</template>
                    <template [ngIf]="regErr"><i class="fa fa-exclamation-triangle"></i> {{ regErr }}
                    </template>
                </h3>
            </div>
            <label for="inputLogin" class="sr-only">Login</label>
            <input [(ngModel)]="regName" type="text" id="inputLogin" class="form-control" placeholder="Login"
                   required>
            <br>

            <label for="inputEmail" class="sr-only">Email</label>
            <input [(ngModel)]="regMail" type="email" id="inputEmail" class="form-control" placeholder="Email"
                   required>

            <br>
            <label for="inputPassword" class="sr-only">Password</label>
            <input [(ngModel)]="regPass1" (keyup)="setPasswordAnalizer()" type="password" id="inputPassword"
                   class="form-control"
                   placeholder="Password"
                   required>

            <div class="progress">
                <div class="progress-bar" [ngClass]="passCheckColor" role="progressbar"
                     style="width: {{ passCheckWidth }}%">
                </div>
            </div>

            <label for="inputConfirmPassword" class="sr-only">Confirm password</label>
            <div class="input-group">
                <input [(ngModel)]="regPass2" type="password" id="inputConfirmPassword"
                       class="form-control" placeholder="Confirm password" required>
                <div class="input-group-addon"><i [style.color]="passMatch() ? 'green' : 'black'"
                                                  class="fa fa-check"></i></div>

            </div>
            <br>
            <button [class.disabled]="!canRegister()" class="btn btn-lg btn-primary btn-block" type="submit">
                Register
            </button>
        </form>
    </div>
</div>
