{% load static %}
<html>
<head>
    <title>Angular 2 QuickStart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 1. Load libraries -->
    <!-- IE required polyfills, in this exact order -->
    <script src={% static "ang2/node_modules/es6-shim/es6-shim.min.js" %}></script>
    <script src={% static "ang2/node_modules/systemjs/dist/system-polyfills.js" %}></script>
    <script src={% static "ang2/node_modules/angular2/bundles/angular2-polyfills.js" %}></script>
    <script src={% static "ang2/node_modules/systemjs/dist/system.src.js" %}></script>
    <script src={% static "ang2/node_modules/rxjs/bundles/Rx.js" %}></script>
    <script src={% static "ang2/node_modules/angular2/bundles/angular2.dev.js" %}></script>
    <script src={% static "ang2/node_modules/angular2/bundles/router.dev.js" %}></script>
    <script src={% static "ang2/node_modules/angular2/bundles/http.js" %}></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>

    <!-- Optional theme -->
    <link rel="stylesheet" href={% static 'css/bootstrap-theme.min.css' %}>

    <!-- Font awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src={% static 'js/bootstrap.min.js' %}></script>
    <script src={% static 'js/jquery-2.2.2.min.js' %}></script>
    <!-- Owl carousel -->
    <link rel="stylesheet" href={% static 'css/owl.carousel.css' %}>
    <script src={% static 'js/owl.carousel.js' %}></script>


    <!-- 2. Configure SystemJS -->
    <script>
        System.config({
            baseURL: "{% static 'ang2' %}",
            defaultJSExtensions: true,
            map: {
                angular2: '{% static "ang2/node_modules/angular2" %}',
                rxjs: '{% static "ang2/node_modules/rxjs" %}'
            },
            packages: {
                app: {
                    defaultExtension: 'js',
                    format: 'register'
                }
            }
        });
        System.import("{% static 'ang2/app/boot.js' %}")
                .then(null, console.error.bind(console));
    </script>
    <link rel="stylesheet" href={% static "ang2/src/css/app.css" %}>

</head>
<!-- 3. Display the application -->


<body>
    <my-main>
        <div style="margin-left: 50%; margin-top: 25%;">
            <i class="fa fa-spinner fa-4x fa-spin"></i>
        </div>
    </my-main>
</body>
</html>